beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
Click==7.0
cryptography==2.9.2
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
mkl-fft==1.0.6
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.17.4
olefile==0.46
opencv-python==4.1.2.30
pandas==1.0.4
Pillow==6.2.1
pycparser==2.20
pymongo==3.9.0
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
urllib3==1.25.9
Werkzeug==0.16.0
win-inet-pton==1.1.0
wincertstore==0.2
